<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <title>Ngahu Ng'ang'a</title>
      {% load static %}
      <!-- bootstrap css -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'Portfolio/css/base.css' %}">
      <!--jquery cdn -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      </head>
  <body>
<!--================ the navigation  menu=============== -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Portfolio</a> </li>
        <li><a href="#"><span class="glyphicon glyphicon-th"></span> </a></li>
        <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Contacts</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- ==========end of navigation ==========-->

<!--===========the body section ======== -->

<div class="container-fluid" id="mainn">
    <div class="row row-centered">
        <div class="col-xs-12 col-sm-12 col-md-12"> <h1>test</h1>  </div>
    </div>
    <div class="home-search-bar"></div>
    <button type="button" class="btn btn-success" id="btnn">About Me</button>


</div><!--end of container -->


<!--=============end of the body section ==========-->

<!--=========the footer section ========-->

<footer>
    <div class="container-fluid">

        <div class="panel panel-default">
             <div class="panel-footer"><a href="#">Contacts</a> @joel 2016 </div>
        </div>

    </div>


</footer>




















      <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
       </body>
</html>
